<p id="notice"><%= notice %></p>
<div class="row">
 <div class="col-md-8">
 <h1>
  <%= gravatar_for @zombie %>
  <%= @zombie.name %>
  </h1>
 </div>
	<div class="col-md-4"><%= @zombie.email %></div>
</div>