<!-- Begin page content -->
<footer>
 <div class="push"></div>
 </div>
      <div id="footer">
      <div class="container">
        <p><small>Vishnu Labs &copy;2014 ALL Rigths Reserved.</small> </p>
      </div>
    </div>
 </footer>